.history-title{
font-size: 35px;
font-weight: bold;
margin-top: 20px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
margin-left: 5px;
}

.search-box{
display: flex; 
align-items: center;  
width: 340px;
height: 48px;
border: 1px solid gray;
border-radius: 12px;
margin-bottom: 16px;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
justify-content: center;
margin-left: 16px;
}
.search-icon{
width: 24px;
height: 24px;
margin-left: -10px;
padding: 10px 5px;
padding: 8px;
margin-top: 3px;
}

.search{
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
color: black;
margin-top: 3px;
flex: 1;
border: none;
outline: none;
background: transparent;
}
.outer{
width: 340px;
height: 42px;
background-color: white;
border-radius: 12px;
margin-left: 18px;
border: 1px solid gray;

}
.button-group{
display: flex;
gap: 10px;
align-items: center;
justify-content: space-between;
width: 100%;

}


.outer-menu{
width: 100%;
height: 56px;
max-width: 340px;
margin: 40px auto 0;
border-radius: 24px;
border: 1px solid gray;
background-color: rgb(2, 2, 48);
margin-top: 150px;
padding: 5px 20px 5px 20px; 
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 15px;
}

.menu-bar{
display: flex;
flex-direction: column;
justify-content: center;
cursor: pointer;
flex-direction: column;
}

.menu-icons4{
width: 20px;
height: 20px;
align-items: center;
margin-left: 3px;
margin-bottom: -2px;
}
.menu-icons5{
width: 20px;
height: 20px;
align-items: center;
margin-left: 5px;
margin-bottom: -2px;
}

.menu-icons6{
width: 20px;
height: 20px;
align-items: center;
margin-left: 5px;
margin-bottom: -2px;
}



.menu-bar-text{
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-top: 2px;
margin-left: 0;
text-align: center;
margin-left: -5px;
}
.active-text{
color: green;
font-weight: bold;
}




.History-info{
display: flex;
justify-content: space-evenly;
padding: 20px;
cursor: pointer;
flex-wrap: nowrap;
padding-left: 20px;
padding-right: 20px;
}


.outer-elena{
width: 145px;
height: 130px;
padding: 10px 10px;
border-radius: 12px;
border: 1px solid gray;
box-sizing: border-box;
margin-left: -50px;
background: linear-gradient(rgb(11,1,56), rgb(83,8,8));
margin-top: -20px;
box-shadow: 10px solid gray;
}
.elena-image{
 width: 35px;
 height: 35px;
 border-radius: 100%;
 border: 1px solid white;
 margin-bottom: -5px;
 margin-top: -3px;

}
.name{
font-size: 13px;
font-weight: 600;
justify-content: center;
color: white;
text-align: center;
margin: 0;
}
.customer-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.number{
 color: white;
 font-size: 15px;
 font-weight: 700;
 margin: 0;

}

.elena-price{
color: white;
font-size: 15px;
font-weight: 500;
margin: 0;

}

.outer-rajesh{
width: 145px;
height: 130px;
padding: 10px 10px;
border-radius: 12px;
border: 1px solid gray;
box-sizing: border-box;
box-shadow: 10px solid gray;
background: linear-gradient(rgb(11,1,56), rgb(64,164,177));
margin-right: -50px;
margin-top: -20px;
}

.rajesh-image{
 width: 35px;
 height: 35px;
 border-radius: 100%;
 border: 1px solid white;
 margin-bottom: -5px;
 margin-top: -3px;
}

.rajesh-detail{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5px;
}


.customer-name-rajesh{
font-size: 13px;
font-weight: 600;
justify-content: center;
color: white;
text-align: center;
margin: 0;
}


.customer-number{
 color: white;
 font-size: 15px;
 font-weight: 700;
 margin: 0;
}


.Price{
color: white;
font-size: 15px;
font-weight: 500;
margin: 0;

}



.outer-Avijit{
width: 145px;
height: 130px;
padding: 10px 10px;
border-radius: 12px;
border: 1px solid gray;
box-sizing: border-box;
margin-left: 10px;
margin-top: 0px;
box-shadow: 10px solid gray;
background: linear-gradient(rgb(4, 121, 10), rgb(7, 2, 54));
margin-right: 40px;
}

.History-info{
display: flex;
gap: 15px;
cursor: pointer;
flex-wrap: nowrap;

}

.avijit-image{
 width: 35px;
 height: 35px;
 border-radius: 100%;
 border: 1px solid white;
 margin-bottom: -5px;
 margin-top: -3px;
}

.Customer_name{
font-size: 13px;
font-weight: 600;
justify-content: center;
color: white;
text-align: center;
margin: 0;

}
.Customer-number{
 color: white;
 font-size: 15px;
 font-weight: 700;
 margin: 0;
}
.Customer-price{
color: white;
font-size: 15px;
font-weight: 500;
margin: 0;
}

.avijit-details{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5px;
}

.outer-rahul{
width: 145px;
height: 130px;
padding: 10px 10px;
border-radius: 12px;
border: 1px solid gray;
box-sizing: border-box;
margin-left: 10px;
margin-top: 0px;
box-shadow: 10px solid gray;
background: linear-gradient(rgb(90, 3, 68), rgb(83,8,8));
margin-right: 10px;

}

.rahul-image{
width: 42px;
height: 42px;
border-radius: 100%;
margin-bottom: -5px;
object-fit: cover;
}
.rahul-details{
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;

}
.Customer_Name{
font-size: 13px;
font-weight: 600;
color: white;
margin-bottom: -5px;
margin-right: 5px;
}

.Customer_Number{
color: white;
font-size: 15px;
font-weight: 700;
margin: 0;
}

.History-info1{
display: flex;
gap: 15px;
cursor: pointer;
flex-wrap: nowrap;
}

.outer-kaberi{
width: 145px;
height: 130px;
padding: 10px 10px 10px 10px;
border-radius: 12px;
border: 1px solid gray;
box-sizing: border-box;
margin-left: 10px;
box-shadow: 10px solid gray;
background: linear-gradient(rgb(85, 2, 50), rgb(10, 10, 68));
margin-top: 20px;
margin-right: 35px;
}

.History-info2{
display: flex;
gap: 15px;
cursor: pointer;
flex-wrap: nowrap;

}

.kaberi-details{
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
}
.kaberi-image{
width: 42px;
height: 42px;
border-radius: 100%;
object-fit: cover;
margin-bottom: -5px;

}
.Customer-Name{
font-size: 13px;
font-weight: 600;
color: white;
margin-bottom: -5px;
margin-right: 5px;
}
.Customer-Number{
color: white;
font-size: 15px;
font-weight: 700;
margin: 0;
}
.Customer-Price{
color: white;
font-size: 15px;
font-weight: 500;
margin: 0;
}


.outer-susmita{
width: 145px;
height: 130px;
padding: 10px 10px 10px 10px;
border-radius: 12px;
border: 1px solid gray;
box-sizing: border-box;
margin-left: 5px;
box-shadow: 10px solid gray;
background: linear-gradient(rgb(5, 41, 61), rgb(10, 77, 4));
margin-top: 20px;
}

.susmita-image{
width: 42px;
height: 42px;
border-radius: 100%;
object-fit: cover;
margin-bottom: -5px;
}

.susmita-details{
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
}

.customer{
font-size: 13px;
font-weight: 600;
color: white;
margin-bottom: -5px;
margin-right: 5px;
}

.customer-Number{
color: white;
font-size: 15px;
font-weight: 700;
margin: 0;
}

.customer-Price{
color: white;
font-size: 15px;
font-weight: 500;
margin: 0;

}

.customer_susmita{
font-size: 13px;
color: white;
font-weight: bold;

}

.History-info2{
 display: flex; 
justify-content: space-evenly;
cursor: pointer;
flex-wrap: nowrap;

}