body{
    margin:0;
}

.Splash-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(1, 1, 71);
    flex-direction: column;

}

.Splash-image{
    width:100px;
    height:100px;
    object-fit:cover;
    box-shadow: rgb(29, 29, 29);
   
}
.text{
    padding: 12px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    text-align: center;
    
}